*{
  margin: 0px;
  padding: 0px;
}
.head{
  height: 100vh;
  background: url('../images/milky-way.jpg');
  background-position: center;
  background-size: cover;
  width: 100%;
  color: white;
}
.main{
  vertical-align: middle;
  padding-top: 180px;
}
.main p{
  font-weight: bold;
  font-size: 50px;
}
.intro p{
  font-size: 16px;
  color: black;
}
.useme{
  /*background-color: #F64060;*/
  color: white;
  background-color: #2C3E50;
  margin-top: 25px;
}
#image{
  box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
}
.commands{
  margin-top: 50px;
  margin-bottom: 50px;
}
.commands p{
  font-size: 16px;
  line-height: 1.5em;
}
.code{
  background-color: white;
  color: lightslategray;
  padding: 4px 5px;
  border-radius: 5px;
  font-weight: bold;
}
.code2{
  background-color: rgba(0,0,0,0.8);
  color: lightyellow;
  padding: 4px 5px;
  border-radius: 5px;
  font-weight: bold;
}
.footer{
  background-color: #0f1721;
  color: rgba(255,255,255,0.8);
  height: 110px;
}
